<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    * {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
    }

    .cnt {
      padding: 4px 6px;
    }

    .title {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin: 8px 0px;
    }

    .body {
      margin-bottom: 24px;
    }

    .card-info {
      padding: 24px;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, .1);
    }

    .card-info-row {
      padding: 8px 0px;
    }

    .info-value {
      font-size: 16px;
      font-weight: 600;
      margin-top: 4px;
    }

    table {
      width: 100%;
    }

    th,
    td {
      text-align: center;
      padding: 8px;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .qr_code {
      width: 200px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <div class="cnt">
    <p class="title">
      Thông tin vé
    </p>
    <div class="body">
      <div class="card-info">
        <div class="card-info-row">
          <p class="info-label">Họ và tên</p>
          <p class="info-value">{{order.fullname}}</p>
        </div>
        <div class="card-info-row">
          <p class="info-label">Số điện thoại</p>
          <p class="info-value">{{order.telephone}}</p>
        </div>
        <div class="card-info-row">
          <p class="info-label">Số lượng vé</p>
          <p class="info-value">{{count_ticket}}</p>
        </div>
      </div>
    </div>
    <p class="title">
      Danh sách vé
    </p>
    <table>
      <tr>
        <th>ST</th>
        <th>Tên vé</th>
        <th>Giá vé</th>
        <td>Mã QR</td>
      </tr>
      {{#each items}}
      <tr></tr>
      <td>{{@index}}</td>
      <td>{{this.ticket.title}}</td>
      <td>{{this.base_price}}</td>
      <td>
       <img src="{{this.qrCodePath}}" alt="QR Code for" class="qr_code" />
      </td>
      </tr>
      {{/each}}
    </table>
  </div>
</body>

</html>